:root {
  --color-primary: #0699FF;

  --color-white: #fff;
  --color-black: #000;

  --font-jost: "Jost", sans-serif;
  --font-fira-sans: "Fira Sans", serif;
  --font-roboto: "Roboto", serif;
}

body {
  margin: 0;
  font-family: var(--font-jost);
  font-weight: 400;
  letter-spacing: -0.06px;
}

.container {
  max-width: 1200px;
  padding: 0 24px;
  margin: 0 auto;
}

.btn-primary {
  color: var(--color-primary);
  border: 1px solid var(--color-primary);
  text-decoration: none;
  padding: 8px 12px;
  border-radius: 4px;
  font-family: var(--font-roboto);
  transition: all 0.2s ease-in-out;
}

.btn-primary:hover,
.btn-primary:focus {
  color: var(--color-white);
  background-color: var(--color-primary);
}

/**
 * Header.
 */
.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 42px;
  padding-bottom: 42px;
  animation: 1.5s fadeInUp;
}

/**
 * Menu.
 */
.navigation .menu {
  display: flex;
  align-items: center;
  gap: 24px;
  list-style-type: none;
  padding: 0;
  margin: 15px 0;
}

.navigation .menu a {
  color: var(--color-black);
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}

.navigation .menu a:hover,
.navigation .menu a:focus {
  color: var(--color-primary);
}

/**
 * Banner.
 */
.banner {
  text-align: center;
  padding: 110px 0;
  animation: 2s fadeInUp;
}

.banner .title {
  font-size: 72px;
  font-weight: 700;
  margin: 0;
  font-family: var(--font-fira-sans);
}

.banner .description {
  font-size: 24px;
  line-height: 1.5;
  margin-top: 16px;
}

/**
 * Content.
 */
.background-image-section {
  background-image: url("../assets/images/intro-background.svg");
  padding: 140px 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  animation: 2.5s fadeInUp;
}

.text-wrapper {
  text-align: center;
  padding: 40px 0;
}

.text-wrapper .content-title {
  font-size: 40px;
  text-transform: uppercase;
  font-family: var(--font-fira-sans);
  margin: 0;
}

.text-wrapper .content-description {
  margin-top: 16px;
}

/**
 * Cards.
 */
.cards {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.card {
  background-color: var(--color-white);
  padding-left: 115px;
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 6px 0 #00000040;
}

.card-icon {
  position: absolute;
  left: 0;
  width: 115px;
  height: 100%;
  background: var(--color-primary);
  top: 0;
  background-size: 60px;
  background-position: center;
  background-repeat: no-repeat;
}

.card-icon.book {
  background-image: url("../assets/images/book-open.svg");
}
.card-icon.notice {
  background-image: url("../assets/images/notice.svg");
}
.card-icon.terminal {
  background-image: url("../assets/images/terminal-window.svg");
}
.card-content {
  padding: 20px 24px;
}

.card-title {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
  line-height: 1.2;
}

.card-description {
  font-family: var(--font-fira-sans);
  line-height: 1.2;
}

/**
 * Mobile styles.
 */
@media only screen and (max-width: 768px) {
  .header-content {
    padding-top: 24px;
    padding-bottom: 24px;
  }

  .btn-primary {
    font-size: 0;
    background-image: url("../assets/images/pencil.svg");
    background-size: 14px;
    background-repeat: no-repeat;
    background-position: center;
    padding: 13px;
    display: block;
  }

  .btn-primary:hover,
  .btn-primary:focus {
    background-image: url("../assets/images/pencil-white.svg");
  }


  .navigation .menu {
    gap: 20px;
  }

  .navigation .menu a {
    font-size: 14px;
  }

  .banner {
    padding: 64px 24px;
  }

  .banner .title {
    font-size: 48px;
  }
  .banner .description {
    font-size: 16px;
  }

  .card-content {
    padding: 16px 24px;
  }

  .card-title {
    font-size: 14px;
  }
  .card-description {
    font-size: 12px;
  }
}

@keyframes fadeInUp {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}